.main {
    display:  flex;
}
@media screen and (max-width: 720px){
      header {
        height: 300px;        
    }
    header h1 {
        font-size: 5rem;
    }
    main {
        flex-direction: column;
    }
    footer {
      flex-direction: column;  
    }
}

@media screen and (max-width: 450px) {
    img {
        display: none;
    }
}