p {
    font-family: 'Kaushan Script', cursive;
}
h1,h3 {
    font-family: 'Kaushan Script', cursive;
}
form {
    font-family: 'Kaushan Script', cursive;
}
body {
    background-image: url("paper.png");
}