@media screen and (max-width: 720px) {
   main {
     flex-wrap: wrap;
    }
    
   .home {
       display: flex;
       justify-content: center;
   }
   
   .myimg {
       display:  none;
   }
   .example_one img {
      margin-left: 30px;
      display: flex;
      justify-content: center;
   }
   
   .example_one {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
   }
   .example_three img {
      margin-left: 30px;
      display: flex;
      justify-content: center;
   }
   
   .example_three {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
   }
   .example_two {
      display: none;
   }
   
   .feedback {
        display: flex;
        flex-direction: column;   
   }
}

@media screen and (max-width: 480px) {
   main {
      padding: 0;
   }
   header h1 {
      font-size: 3rem;
      margin: 0;
   }
   nav ul li a {
      display: block;
      text-align: center;
   }
   
   .example_one img {
      margin: 0 auto;
      display: flex;
      justify-content: center;
   }
   
   .example_one {
      display: flex;
      flex-direction: column;
   }
   
   .example_two {
      display: none;
   }
   
   .example_three {
      display: none;
   }
   
   .footer {
      margin: 0;
      display: flex;
      flex-direction: column;
   }
}