@media screen and (max-width: 720px) {
   main {
     flex-wrap: wrap;
    }
    
   .home {
       display: flex;
       justify-content: center;
   }
   
   .myimg {
       display:  none;
   }
   .example_one img {
      margin-left: 60px;
      display: flex;
      justify-content: center;
   }
   
   .example_one {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
   }
   .example_three img {
      margin-left: 60px;
      display: flex;
      justify-content: center;
   }
   
   .example_three {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
   }
   .example_two {
      display: none;
   }
   
   .feedback {
        display: flex;
        flex-direction: column;   
   }
}